In [1]:
from selenium import webdriver as wb # 웹브라우저 통제
from selenium.webdriver.common.keys import Keys # 입력용
from selenium.webdriver.common.by import By # 구분자
from selenium.webdriver.support.ui import Select
import pandas as pd
import time

In [2]:
driver = wb.Chrome()

driver.get('https://www.agriis.co.kr/shop/search.php?page=1&language=')
time.sleep(1)

m_name_list = []
m_price_list = []
m_cate_list = []
select_element = driver.find_element(By.NAME, 'name')
select = Select(select_element)
select.select_by_value("1")

select_element1 = driver.find_element(By.NAME, 'procat')
select = Select(select_element1)
select.select_by_value("8")

serch=driver.find_element(By.XPATH,"/html/body/table/tbody/tr[2]/td/table[2]/tbody/tr[2]/td/table/tbody/tr[2]/td/table/tbody/tr/td/table[2]/tbody/tr/td/table/tbody/tr[8]/td[2]/input[3]")
serch.click()
for i in range(0,10):
    click = driver.find_element(By.CSS_SELECTOR,f'a>#subjectG2_{i}')
    click.click()
    time.sleep(1)
    m_name =  driver.find_element(By.XPATH,'//*[@id="print_base"]/table/tbody/tr[2]/td/table[2]/tbody/tr[2]/td/table[2]/tbody/tr/td/table/tbody/tr/td/table[1]/tbody/tr[5]/td/table/tbody/tr[1]/td[3]/table/tbody/tr[3]/td[2]')
    m_name_list.append(m_name.text)
    m_price = driver.find_element(By.XPATH,'//*[@id="priceManDe"]/span')
    m_price_list.append(m_price.text)
    m_cate = driver.find_element(By.ID,'subjectG')
    m_cate_list.append(m_cate.text)
    driver.back()
    time.sleep(1)

In [3]:
print(m_name_list)

['LUXEN74', 'RX700', 'RX700', 'L7020', 'D701', 'RX700', 'T720', 'MX70', 'RX700', 'LUXEN700']

In [5]:
search = "\n"
for i, word in enumerate(m_price_list):
    if search in word: 
        print('>> modify: ' + word)
        m_price_list[i] = word.strip(search)

>> modify: 2,100
만원
>> modify: 2,200
만원
>> modify: 1,890
만원
>> modify: 1,350
만원
>> modify: 2,200
만원

In [6]:
print(m_price_list)

['문의', '2,100\n만원', '2,200\n만원', '문의', '1,890\n만원', '문의', '1,350\n만원', '2,200\n만원', '문의', '문의']

In [5]:
print(m_cate_list)

['트랙터', '트랙터', '트랙터', '트랙터', '트랙터', '트랙터', '트랙터', '트랙터', '트랙터', '트랙터']

In [6]:
data = {'기계이름':m_name_list , '가격(원가)': m_price_list , '카테고리':m_cate_list}
list_num = [1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(data,index=list_num)
df

        기계이름     가격(원가) 카테고리
1    LUXEN74         문의  트랙터
2      RX700  2,100\n만원  트랙터
3      RX700  2,200\n만원  트랙터
4      L7020         문의  트랙터
5       D701  1,890\n만원  트랙터
6      RX700         문의  트랙터
7       T720  1,350\n만원  트랙터
8       MX70  2,200\n만원  트랙터
9      RX700         문의  트랙터
10  LUXEN700         문의  트랙터

In [7]:
df.to_csv('농기계 가격정보 샘플.csv', encoding = 'euc-kr')